        table {
            border-collapse : collapse;
        }

        td {
            border-collapse : collapse;
            border : 1px solid black;
            height : 30px;

        }

        #submit {
            text-align : center;
        }